.image {
    background-image: url('../../../assets/img/menuBG.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%; 
}

@media (max-width:800px) {
    .image {
        background-image: url('../../../assets/img/menuBG2.jpeg');
        height: auto;
        min-height: 100%;
    }
}