<div class="mail">
	<div class="container">
		<div class="row">
			<mat-card class="mail-card">
				<mat-card-content>
					<img src="../../../../../assets/img/verified.gif" class="mail-img" alt="Animation GIF">
					<h2>Thanks For Choosing Us!</h2>
					<p>We appreciate your trust and look forward to serving you. To ensure the security of your account, we kindly request a few minutes of your time for the verification process. If you have any questions or need assistance, please don't hesitate to contact our support team. Enjoy your experience!</p>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
