
table {
    width: 100%;
  }
  .content{
    padding: 1rem;
    padding-top: 1rem;
  }
  
  h5 {
    display: flex;
    align-items: center;
  }

  mat-icon {
    margin-right: 5px; 
  }
  .header-colour {
    background-color:#673AB7;
    color: white; 
  }
 .data-colour{
  background-color: white;
  color: black;
 }

@media(max-width:425px){
  .custom-button{
    width: 180px;
  }
}
