.navbar {
  background-color: #673ab7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
}

@media(max-width:500px){

.logo-text{
  font-size: 0.3rem;
  display: none; 
}
.clock {
  text-align: center;
  font-size: 10px;

  align-self: flex-end;
}

}
@media(max-width:800px){
  .date{
    display:none;
  }
}

.logo {
  width: auto;
  height: 50px;
}

.logo-text{
  font-size: 1.3rem;
  margin-left: 10px;
}

.menu-item{
  color: #673ab7;
}

.right-side {
  display: flex;
  gap: 10px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .right-side {
    display: none;
    position: absolute;
    top: 100%;
    right: 6px;
    flex-direction: column;
    color: whitesmoke;
    padding: 10px;
  }

  .right-side.show-menu {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
  .right-side button{
    background-color: whitesmoke;
  }
}
.right-side button{
  background-color: whitesmoke;
}

.right-button button:hover{
  background: #673ab7;
}

.logout-button button:hover{
  background: red;
}

.menu-item:hover{
  color: whitesmoke;
}

@media (max-width: 500px) {
  .currentpage {
    display: block; /* or whatever styling you want */
    margin-top: 1.5vh;
  }
  p{
    font-size: 1.3rem;
  }
  /* p{
    font-family: 'Trebuchet MS', sans-serif;font-size:larger;text-transform: uppercase;
    margin-top: 14px;
  } */
}

@media (min-width: 501px) {
  .currentpage {
    display: none; /* or any other styling to hide it */
  }
}


