  <!-- <div class="right-side">
      <mat-icon>home</mat-icon>
      <mat-icon>analytics</mat-icon>
      <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>  
      <mat-icon>settings</mat-icon>
      <mat-icon>account_circles</mat-icon>
  </div> -->

  <mat-toolbar class="navbar">
    <div class="left-side">
      <a href="home.html">
        <img src="../../../assets/img/favicon.ico" alt="Logo" class="logo" />
      </a>
      <span class="logo-text">SenseLive - EMS</span>
    </div>
    <p class="currentpage">{{currentPageName}}</p>
   
  
  
    <div class="menu-icon" (click)="dashService.toggleMenu()">
        <button mat-mini-fab style="color: #673ab7;background-color: #fff;" aria-label="menu">
          <mat-icon>menu</mat-icon>
      </button>
    </div>
  
    <div class="right-side" [class.show-menu]="dashService.showMenu">
      <div class="right-button">
        <button mat-mini-fab class="menu-item" (click)="toggleFullScreen()">
          <mat-icon matBadgeColor="warn">{{ isFullScreen ? 'transform' : 'aspect_ratio' }}</mat-icon>
        </button>
      </div>
      <div class="logout-button">
      <button mat-mini-fab class="menu-item" color="basic" aria-label="logout" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button></div>
    </div>
  </mat-toolbar>
  
  <!-- 
  <mat-icon>devices_other</mat-icon> -->