<div class="content">
    <div class="container-fluid mt-2">
        <div class="card allCard">
            <div class="row">
                <mat-radio-group class="d-flex mt-1" [(ngModel)]="selectedFeed">
                    <mat-radio-button value="feeder">Feeder</mat-radio-button>
                    <mat-radio-button value="group">Group</mat-radio-button>
                    <mat-radio-button value="vgroup">Virtual Group</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="container-fluid ">
                <div class="row mt-2">
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='feeder'">
                        <mat-form-field appearance="outline" class="form-field">
                          <mat-label>Device Name</mat-label>
                          <mat-select [(ngModel)]="selectedDevice" required>
                            <mat-option *ngFor="let device of deviceOptions" [value]="device.feederUid">
                              {{ device.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>  
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='feeder'">
                        <mat-form-field appearance="outline" class="form-field">
                          <mat-label>Select Interval</mat-label>
                          <mat-select [(ngModel)]="selectedFeederInterval">
                            <mat-option value="12hour">12 hours</mat-option>
                            <mat-option value="day">This Day</mat-option>
                            <mat-option value="week">This Week</mat-option>
                            <mat-option value="month">This Month</mat-option>
                            <mat-option value="custom">Custom</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='feeder' && selectedFeederInterval=='custom'">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date" [formControl]="feederStartDate">
                                <input matEndDate placeholder="End date" [formControl]="feederEndDate">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='group'">
                        <mat-form-field appearance="outline" class="form-field">
                          <mat-label>Group Name</mat-label>
                          <mat-select [(ngModel)]="selectedGroup" required>
                            <mat-option *ngFor="let group of groupOptions" [value]="group.feederUid">
                              {{ group.groupName }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>  
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='group'">
                        <mat-form-field appearance="outline" class="form-field">
                          <mat-label>Select Interval</mat-label>
                          <mat-select [(ngModel)]="selectedGroupInterval">
                            <mat-option value="12hour">12 hours</mat-option>
                            <mat-option value="day">This Day</mat-option>
                            <mat-option value="week">This Week</mat-option>
                            <mat-option value="month">This Month</mat-option>
                            <mat-option value="custom">Custom</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='group' && selectedGroupInterval=='custom'">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date" [formControl]="groupStartDate">
                                <input matEndDate placeholder="End date" [formControl]="groupEndDate">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='vgroup'">
                        <mat-form-field appearance="outline" class="form-field">
                          <mat-label>Select Devices</mat-label>
                          <mat-select [(ngModel)]="selectedMultipleDevices" required multiple>
                            <mat-option *ngFor="let device of deviceOptions" [value]="device.feederUid">
                              {{ device.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>  
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='vgroup'">
                        <mat-form-field appearance="outline" class="form-field">
                          <mat-label>Select Interval</mat-label>
                          <mat-select [(ngModel)]="selectedVirtualGroupInterval">
                            <mat-option value="12hour">12 hours</mat-option>
                            <mat-option value="day">This Day</mat-option>
                            <mat-option value="week">This Week</mat-option>
                            <mat-option value="month">This Month</mat-option>
                            <mat-option value="custom">Custom</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4 col-md-4" *ngIf="selectedFeed=='vgroup' && selectedVirtualGroupInterval=='custom'">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date" [formControl]="virtualStartDate">
                                <input matEndDate placeholder="End date" [formControl]="virtualEndDate">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button
                          mat-raised-button
                          color="primary"
                          style="width: 150px"
                          (click)="updateData()">
                          Filter
                        </button>
                    </div>
                </div>        
            </div>            
        </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-2">
            <div class="card allCard chart">
                <p class="card-heading text-center mt-1">Max vs Actual Demand</p>

                <div id="chartContainer" class="demandChart"></div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-2">
            <div class="card chart">
                <p class="card-heading text-center mt-1">POWER Parameters </p>
                <div class="row mt-3">
                    <div class="col-md-3 col-sm-6 mx-auto">
                        <div class="px-2 ">
                            <div class="meter-container">
                                <div class="meter">
                                    <div id="KWYguage"></div>
                                </div>
                            </div>
                            <div class="meter-lables-container">
                                <div class="meter-lables">
                                    <p>Min</p>
                                    <p>412.7</p>
                                </div>
                                <div class="meter-lables">
                                    <p>Max</p>
                                    <p>412.7</p>
                                </div>
                                <div class="meter-lables">
                                    <p>Avg</p>
                                    <p>412.7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mx-auto">
                        <div class="px-2">
                            <div class="meter-container">
                                <div class="meter">
                                    <div id="KVRYguage"></div>
                                </div>
                            </div>
                            <div class="meter-lables">
                                <p>Min</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Max</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Avg</p>
                                <p>412.7</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mx-auto">
                        <div class="px-2">
                            <div class="meter-container">
                                <div class="meter">
                                    <div id="KVAYguage"></div>
                                </div>
                            </div>
                            <div class="meter-lables">
                                <p>Min</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Max</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Avg</p>
                                <p>412.7</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mx-auto">
                        <div class="px-2">
                            <div class="meter-container">
                                <div class="meter">
                                    <div id="PFYguage"></div>
                                </div>
                            </div>
                            <div>
                            </div>
                            <div class="meter-lables">
                                <p>Min</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Max</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Avg</p>
                                <p>412.7</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-2">
            <div class="card chart2">
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="card-heading text-center mt-1">Energy Tracker</p>
                        <div class="p-2 mx-auto mt-3" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Active(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Apprent(KVAH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Reactive(KVARH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="card-heading text-center mt-1">Energy Consumption</p>
                        <div class="p-2 mx-auto mt-3" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Today(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Yesterday(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>This Month(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-2">
            <div class="card chart2">
                <p class="card-heading mt-1 text-center">Alerts & Events</p>
                <div class="mx-2 mb-3 mt-2 mat-elevation-z2" style="overflow-y: scroll;">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let alert of alertData" class="mt-1" style="color: whitesmoke;background-color: #8b6792;">
                          <mat-expansion-panel-header style="background-color: #a5aad9;">
                            <mat-panel-title style="color: black;">
                              <div style="font-size: 17px;">Alert Name: {{ alert.name }}</div>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row mt-2">
                            <div class="col-md-12">
                              <div style="font-size: 15px;">Feeder Name: {{ alert.feederName }}</div>
                            </div>
                            <div class="col-md-6">
                              <div style="font-size: 15px;">Parameter: {{ alert.parameter }}</div>
                            </div>
                            <div class="col-md-6">
                              <div style="font-size: 15px;">Threshold: {{ alert.threshold }}</div>
                            </div>
                            <div class="col-md-6">
                              <div style="font-size: 15px;">Condition: {{ alert.condition }}</div>
                            </div>
                            <div class="col-md-6">
                              <div style="font-size: 15px;">Repeat: {{ alert.repeat }}</div>
                            </div>
                            <div class="col-md-6">
                              <div style="font-size: 15px;">Start Time: {{ alert.startTime }}</div>
                            </div>
                            <div class="col-md-6">
                              <div style="font-size: 15px;">End Time: {{ alert.endTime }}</div>
                            </div>
                            <div class="col-md-12">
                              <div style="font-size: 15px;">Message: {{ alert.message }}</div>
                            </div>
                            <div class="col-md-12">
                              <div style="font-size: 15px;">User Name: {{ alert.userName }}</div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                      
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2 mb-2">
        <p class="card-heading text-center mt-1">Instantaneous Feeder data</p>
        <div class="d-flex flex-wrap">
            <div class="p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                <div>
                    <h6>Line voltage(LL)</h6>
                </div>
                <div class="progress-lables">
                    <p>VLL-R</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>VLL-Y</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>VLL-B</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>AVG-VLL</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S MIN</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S MAX</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S AVG</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
            </div>
            <div class="p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                <div>
                    <h6>Phase voltage(LN)</h6>
                </div>
                <div class="progress-lables">
                    <p>VLN-R</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>VLN-Y</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>VLN-B</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>AVG-VLN</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S MIN</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S MAX</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S AVG</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
            </div>
            <div class="p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                <div>
                    <h6>Current</h6>
                </div>
                <div class="progress-lables">
                    <p>AMPS-R</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>AMPS-Y</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>AMPS-B</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>AVG-AMPS</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S MIN</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S MAX</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>TODAY'S AVG</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
            </div>
            <div class="p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                <div>
                    <h6>Harmonics</h6>
                </div>
                <div class="progress-lables">
                    <p>FREQUENCY</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="80" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>V-THR-R</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="20" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>V-THR-Y</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="30" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>V-THR-B</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="25" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>I-THR-R</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="10" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>I-THR-Y</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="15" class="mb-2"></mat-progress-bar>
                <div class="progress-lables">
                    <p>I-THR-B</p>
                    <p>412.7</p>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
            </div>
        </div>
    </div>