<div style="padding-top: 70px;" class="container-fluid">
    <!-- <div class="col-12 pt-2">
        <div class="card">
            <p class="card-heading">SenseLive</p>
            <mat-divider></mat-divider>
            <div class="container-fluid">
                <div class="row mt-3 mb-3">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                        <p class="card-heading2">Main PCC</p>
                        <div class="row text-center">
                            <div class="row">
                                <p class="col-4 numbers">1365.50</p>
                                <p class="col-4 numbers">1373.80</p>
                                <p class="col-4 numbers">0.994</p>
                            </div>
                            <div class="row">
                                <h6 class="col-4">KW</h6>
                                <h6 class="col-4">KVA</h6>
                                <h6 class="col-4">PF</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4 blur-row ">&nbsp;</h6>
                                <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                <h6 class="col-4 blur-row ">Rs</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Today</h6>
                                <h6 class="col-4">7k</h6>
                                <h6 class="col-4">36k</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Yesterday</h6>
                                <h6 class="col-4">30k</h6>
                                <h6 class="col-4">141k</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                        <p class="card-heading2">HT Meter (S/Sn-4)</p>
                        <div class="row text-center">
                            <div class="row">
                                <p class="col-4 numbers">1365.50</p>
                                <p class="col-4 numbers">1373.80</p>
                                <p class="col-4 numbers">0.994</p>
                            </div>
                            <div class="row">
                                <h6 class="col-4">KW</h6>
                                <h6 class="col-4">KVA</h6>
                                <h6 class="col-4">PF</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4 blur-row ">&nbsp;</h6>
                                <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                <h6 class="col-4 blur-row ">Rs</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Today</h6>
                                <h6 class="col-4">7k</h6>
                                <h6 class="col-4">36k</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Yesterday</h6>
                                <h6 class="col-4">30k</h6>
                                <h6 class="col-4">141k</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                        <p class="card-heading2">LT Meter (COB)</p>
                        <div class="row text-center">
                            <div class="row">
                                <p class="col-4 numbers">1365.50</p>
                                <p class="col-4 numbers">1373.80</p>
                                <p class="col-4 numbers">0.994</p>
                            </div>
                            <div class="row">
                                <h6 class="col-4">KW</h6>
                                <h6 class="col-4">KVA</h6>
                                <h6 class="col-4">PF</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4 blur-row ">&nbsp;</h6>
                                <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                <h6 class="col-4 blur-row ">Rs</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Today</h6>
                                <h6 class="col-4">7k</h6>
                                <h6 class="col-4">36k</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Yesterday</h6>
                                <h6 class="col-4">30k</h6>
                                <h6 class="col-4">141k</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                        <p class="card-heading2">LT HILTOP INCOMER</p>
                        <div class="row text-center">
                            <div class="row">
                                <p class="col-4 numbers">1365.50</p>
                                <p class="col-4 numbers">1373.80</p>
                                <p class="col-4 numbers">0.994</p>
                            </div>
                            <div class="row">
                                <h6 class="col-4">KW</h6>
                                <h6 class="col-4">KVA</h6>
                                <h6 class="col-4">PF</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4 blur-row ">&nbsp;</h6>
                                <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                <h6 class="col-4 blur-row ">Rs</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Today</h6>
                                <h6 class="col-4">7k</h6>
                                <h6 class="col-4">36k</h6>
                            </div>
                            <div class="row">
                                <h6 class="col-4">Yesterday</h6>
                                <h6 class="col-4">30k</h6>
                                <h6 class="col-4">141k</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="text-center">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style"class="mx-auto mt-2 mb-2">
                    <mat-button-toggle value="bold">Analytics</mat-button-toggle>
                    <mat-button-toggle (click)="openSummary()">Summary</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 col-md-12">
            <div class="card chart">
                <div class="meter-lables">
                    <p class="card-heading">Max vs Actual Demand</p>
                </div>
                <div class="row">
                    <mat-radio-group aria-label="Select an option" color="primary" class="d-flex ">
                      <mat-radio-button value="feeder">feeder</mat-radio-button>
                      <mat-radio-button value="group">Group</mat-radio-button>
                      <mat-radio-button value="group">Vgroup</mat-radio-button>
                    </mat-radio-group>
                  </div>
                <div class="row px-1">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-select placeholder="Select Feeder">
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <!-- Add more options as needed -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <!-- First Subcolumn -->
                        <p class="card-heading">Select interval</p>
                        <div class="p-2 mx-auto" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Select Interval</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let interval of intervals" [value]="interval.value">
                                        {{ interval.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- Second Subcolumn -->
                        <p class="card-heading">Select time frame</p>
                        <div class="p-2 mx-auto" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate placeholder="Start date">
                                    <input matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row d-flex justify-content-center">
                        <button mat-raised-button color="primary" style="width: 150px;">Generate</button>
                      </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-1">
            <div class="card chart">
                <p class="card-heading">Alearts & Eventes</p>
                <div class="row">
                   

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-1">
            <div class="card chart">
                <div class="meter-lables">
                    <p class="card-heading">Max vs Actual Demand</p>
                    <mat-form-field class="btn" appearance="outline">
                        <mat-select placeholder="Select Option">
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <!-- Add more options as needed -->
                        </mat-select>
                    </mat-form-field>
                </div>

                <div id="barContainer" class="demandChart"></div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-1">
            <div class="card chart">
                <p class="card-heading">POWER Parametres </p>
                <div class="row ">
                    <div class="col-md-3 mx-auto">
                        <div class="px-2 ">
                            <!-- Meter on top -->
                            <div class="meter-container">
                                <div class="meter">

                                    <div id="KWguage"></div>

                                </div>
                            </div>
                            <!-- Meter labels -->
                            <div class="meter-lables-container">
                                <div class="meter-lables">
                                    <p>Min</p>
                                    <p>412.7</p>
                                </div>
                                <div class="meter-lables">
                                    <p>Max</p>
                                    <p>412.7</p>
                                </div>
                                <div class="meter-lables">
                                    <p>Avg</p>
                                    <p>412.7</p>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <div class="px-2">
                            <!-- Meter on top -->
                            <div class="meter-container">
                                <div class="meter">
                                    <div id="KVRguage"></div>

                                </div>
                            </div>
                            <!-- Meter labels -->
                            <div>

                            </div>
                            <div class="meter-lables">
                                <p>Min</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Max</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Avg</p>
                                <p>412.7</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <div class="px-2">
                            <!-- Meter on top -->
                            <div class="meter-container">
                                <div class="meter">
                                    <div id="KVAguage"></div>

                                </div>
                            </div>
                            <!-- Meter labels -->
                            <div>

                            </div>
                            <div class="meter-lables">
                                <p>Min</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Max</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Avg</p>
                                <p>412.7</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <div class="px-2">
                            <!-- Meter on top -->
                            <div class="meter-container">
                                <div class="meter">

                                    <div id="PFguage"></div>

                                </div>
                            </div>
                            <!-- Meter labels -->
                            <div>

                            </div>
                            <div class="meter-lables">
                                <p>Min</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Max</p>
                                <p>412.7</p>
                            </div>
                            <div class="meter-lables">
                                <p>Avg</p>
                                <p>412.7</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-1">
            <div class="card chart">
                <div class="row">
                    <div class="col-md-6 ">
                        <!-- First Subcolumn -->
                        <p class="card-heading">Energy Tracker</p>
                        <div class="p-2 mx-auto" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Active(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Apprent(KVAH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Reactive(KVARH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- Second Subcolumn -->
                        <p class="card-heading">Energy Consumption</p>
                        <div class="p-2 mx-auto" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Today(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Yesterday(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>This Month(KWH)</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-1">
            <div class="card chart">
                <p class="card-heading">Alearts & Eventes</p>
                <div class="row px-1">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-select placeholder="Select Feeder">
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <!-- Add more options as needed -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <!-- First Subcolumn -->
                        <p class="card-heading">Set aleart value</p>
                        <div class="p-2 mx-auto" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>value at which alerts are shown</mat-label>
                                <input matInput>
                            </mat-form-field>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- Second Subcolumn -->
                        <p class="card-heading">Set max value</p>
                        <div class="p-2 mx-auto" style="text-align: center;">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Max vlaue for feeder</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row d-flex justify-content-center">
                        <button mat-raised-button color="primary" style="width: 150px;">Add Aleart</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 col-12 mt-2 mb-5">

            <div class="card p-1">
                <div class="d-flex flex-wrap">
                    <div class="progress-col  p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                        <mat-card-header class="mt-2">
                            <h6>Line voltage(LL)</h6>
                        </mat-card-header>
                        <div class="progress-lables">
                            <p>VLL-R</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>VLL-Y</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>VLL-B</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>AVG-VLL</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S MIN</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S MAX</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S AVG</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                    </div>
                    <div class="progress-col  p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                        <mat-card-header class="mt-2">
                            <h6>Phase voltage(LN)</h6>
                        </mat-card-header>
                        <div class="progress-lables">
                            <p>VLN-R</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>VLN-Y</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>VLN-B</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>AVG-VLN</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S MIN</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S MAX</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S AVG</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                    </div>
                    <div class="progress-col  p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                        <mat-card-header>
                            <h6>Current</h6>
                        </mat-card-header>
                        <div class="progress-lables">
                            <p>AMPS-R</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>AMPS-Y</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>AMPS-B</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>AVG-AMPS</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S MIN</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S MAX</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>TODAY'S AVG</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                    </div>
                    <div class="progress-col  p-2 col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
                        <mat-card-header>
                            <h6>Harmonics</h6>
                        </mat-card-header>
                        <div class="progress-lables">
                            <p>FREQUENCY</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="80" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>V-THR-R</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="20" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>V-THR-Y</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="30" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>V-THR-B</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="25" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>I-THR-R</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="10" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>I-THR-Y</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="15" class="mb-2"></mat-progress-bar>
                        <div class="progress-lables">
                            <p>I-THR-B</p>
                            <p>412.7</p>
                        </div>
                        <mat-progress-bar mode="determinate" value="40" class="mb-2"></mat-progress-bar>
                    </div>
                </div>
            </div>

        </div>
    </div>