<div class="container-fluid">
    <div class="row edit-head mb-2">
      <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
        <div class="edit-title">Update Company User</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mt-2">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" [formControl]="firstName" required>
          <mat-error *ngIf="firstName.invalid">Enter valid First name</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6 mt-2">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" [formControl]="lastName" required>
          <mat-error *ngIf="lastName.invalid">Enter valid Last name</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>Personal Email</mat-label>
          <input matInput placeholder="Personal Email" [formControl]="personalEmail" required>
          <mat-error *ngIf="personalEmail.invalid">Enter valid Personal Email</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>Designation</mat-label>
          <input matInput placeholder="Designation" [formControl]="designation" required>
          <mat-error *ngIf="designation.invalid">Enter valid Designation</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>Contact Number</mat-label>
          <input matInput placeholder="Contact Number" [formControl]="contact" required>
          <mat-error *ngIf="contact.invalid">Enter valid Contact Details</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>Plant</mat-label>
          <input matInput placeholder="Plant" [formControl]="plant" required>
          <mat-error *ngIf="plant.invalid">Enter valid Plant</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>Shift</mat-label>
          <mat-select placeholder="Shift" [formControl]="shift">
            <mat-option *ngFor="let shift of shiftData" [value]="shift.shiftName">
              {{ shift.shiftName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="shift.invalid">Select valid Shift</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field appearance="outline" class="from-field">
          <mat-label>Privileges</mat-label>
          <mat-select placeholder="Privileges" [formControl]="privileges">
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Standard">Standard</mat-option>
          </mat-select>
          <mat-error *ngIf="privileges.invalid">Select valid Privilege</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6 justify-content-end d-flex mb-3">
        <button mat-raised-button (click)="onNoClick()">Close</button>
      </div>
      <div class="col-6 mb-3">
        <button mat-raised-button color="primary" (click)="onSaveClick()">Submit</button>
      </div>
    </div>
  </div>
  