
<div class="container-fluid">
   <div class="row mt-2">
    <mat-chip-listbox aria-label="Fish selection" class="d-flex justify-content-center">
        <mat-chip-option>#High energy Consuption Area</mat-chip-option>
        <mat-chip-option>#Low PF</mat-chip-option>
        <mat-chip-option># Higest in current Harmonics</mat-chip-option>
        <mat-chip-option># Higest in Voltage Harmonics</mat-chip-option>
        <mat-chip-option># Current Imbalancing</mat-chip-option>
        <mat-chip-option># Voltage Imbalancing</mat-chip-option>
        <mat-chip-option># Higest demand</mat-chip-option>
        <mat-chip-option># Max RMH</mat-chip-option>
        <mat-chip-option># High Load</mat-chip-option>
        </mat-chip-listbox>
   </div>

   <div class="row d-flex justify-content-center mt-3">
    <button mat-raised-button color="primary" style="width: 150px;">Generate</button>
  </div>
    


  <div class="row mt-5 mx-auto">
    <mat-card>
      <mat-card-content>
        <div #chart4></div>
      </mat-card-content>
    </mat-card>
  </div>

 </div>
