<div class="row">
    <div class="col-lg-7 col-md-6">
      <img mat-card-image style="height: 750px; margin-top: 30px;" src="../../../assets/img/fg.png" alt="Login">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <mat-card class="reset-box">
          <mat-card-content>
            <div class="form-container">
                <div class="row"></div>
                <h5 class="text-center">Reset Password</h5>
                <!-- Add new form fields for password reset -->
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter new password" [formControl]="password" required>
                  <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                  <button mat-icon-button matSuffix (click)="hidePassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm new password" [formControl]="confirmpassword" required>
                  <mat-error *ngIf="confirmpassword.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
                  <button mat-icon-button matSuffix (click)="hidePassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              
                <button mat-raised-button color="primary" (click)="submit()">Reset Password</button>
              
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-center">
                      <a class="link" routerLink="/login/login"><h6>Remember password? Sign In</h6></a>
                    </div>
                  </div>
                </div>
              </div>
              
          </mat-card-content>
        </mat-card>
    </div>
</div>
  
  
  