<div class="container-fluid">
  <div class="row model-head mb-1">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
      <div class="model-title">Edit User Profile</div>
    </div>
  </div>
  <h6 class="mt-3"> Profile Details</h6>
  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="from-field">
          <mat-label>Name</mat-label>
          <input matInput [formControl]="Name" required>
		        <mat-error *ngIf="Name.invalid"> Name is Required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="from-field">
          <mat-label>Id</mat-label>
          <input matInput [formControl]="Id" required>
		        <mat-error *ngIf="Id.invalid"> Id is Required.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="from-field">
          <mat-label>Designation</mat-label>
          <input matInput [formControl]="Designation" required>
		        <mat-error *ngIf="Designation.invalid"> Designation is Required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="from-field">
          <mat-label>Mobile</mat-label>
          <input matInput [formControl]="Mobile" required>
          <mat-error *ngIf="Mobile.invalid"> Mobile is Required.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="from-field">
          <mat-label>Plants</mat-label>
          <input matInput [formControl]="Plants" required>
          <mat-error *ngIf="Plants.invalid"> Plants is Required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="from-field">
          <mat-label>Privileges</mat-label>
          <input matInput [formControl]="Privileges" required>
          <mat-error *ngIf="Privileges.invalid"> Privileges is Required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    

    <div class="col-lg-12 justify-content-end d-flex mb-2">
      <button mat-raised-button mat-dialog-close class="mx-2 update" >Cancel</button>
      <button mat-raised-button class="update" type="submit" (click)="updateDetails()">Update</button>

    </div>
  </form>
</div>