.edit-head {
  background-color: #673ab7;
  height: 55px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-title{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 550;
}

.custom-theme-table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #45c8ff;
  color: black;
}

.normal{
  background-color: whitesmoke;
  color: #673ab7;
  margin-right: 4px;
}

.normal:hover{
  background-color: #673ab7;
  color: whitesmoke;
}

.close{
  background-color: whitesmoke;
  color: red;
}

.close:hover{
  background-color: red;
  color: whitesmoke;
}

