<div class="container-fluid">
    <div class="row edit-head mb-2">
      <div class="col-lg-12 col-md-12 col-sm-12 pt-1 mb-1 d-flex" style="justify-content: space-between;">
        <div class="edit-title mt-2">Summary - Company Feeders</div>
        <div>
          <button mat-mini-fab color="primary" style="margin-right: 3px;" (click)="downloadExcel()"><mat-icon> save_alt</mat-icon></button>
          <button mat-mini-fab color="warn" (click)="onNoClick()"><mat-icon>close</mat-icon></button>
        </div>
      </div>
    </div>
    
    <div class="table-container mb-2" style="overflow: auto; max-height:68vh;">
        <table mat-table [dataSource]="deviceData" matSort class="custom-theme-table mat-table">
          
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Device Name</th>
              <td mat-cell *matCellDef="let element">{{ element.device_name }}</td>
          </ng-container>
          
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Device UID</th>
              <td mat-cell *matCellDef="let element">{{ element.device_uid }}</td>
          </ng-container>

          <ng-container matColumnDef="today">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Today's KWH</th>
              <td mat-cell *matCellDef="let element">{{ element.max_today }}</td>
          </ng-container>

          <ng-container matColumnDef="yesterday">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Yesterday's KWH</th>
            <td mat-cell *matCellDef="let element">{{ element.max_yesterday }}</td>
          </ng-container>

          <ng-container matColumnDef="this_month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>This Month's KWH</th>
            <td mat-cell *matCellDef="let element">{{ element.max_this_month }}</td>
          </ng-container>
        
          <ng-container matColumnDef="last_month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Month's KWH</th>
            <td mat-cell *matCellDef="let element">{{ element.max_last_month }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="deviceColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: deviceColumns"></tr>
        </table>
      </div>
</div>