<div class="content">
  <div class="container-fluid mt-2">
    <mat-tab-group [selectedIndex]="value" (selectedTabChange)="tabChanged($event)">

      <mat-tab label="Consumption">
        <app-consuption></app-consuption>
      </mat-tab>

      <mat-tab label="Parameterised">
        <app-paramaterised></app-paramaterised>
      </mat-tab>

      <mat-tab label="Harmonic">
        <app-harmonic></app-harmonic>
      </mat-tab>

      <!-- <mat-tab label="Quick Analysis">
       <app-quick-analysis></app-quick-analysis>
      </mat-tab> -->

    </mat-tab-group>
  </div>
</div>
