<div class="content">
    <div class="container-fluid">
        <div class="col-12 pt-2">
            <div class="card">
                <p class="card-heading">SenseLive</p>
                <mat-divider></mat-divider>
                <div class="container-fluid">
                    <div class="row mt-3 mb-3">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                            <p class="card-heading2">Main PCC</p>
                            <div class="row text-center">
                                <div class="row">
                                    <p class="col-4 numbers">1365.50</p>
                                    <p class="col-4 numbers">1373.80</p>
                                    <p class="col-4 numbers">0.994</p>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">KW</h6>
                                    <h6 class="col-4">KVA</h6>
                                    <h6 class="col-4">PF</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4 blur-row ">&nbsp;</h6>
                                    <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                    <h6 class="col-4 blur-row ">Rs</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Today</h6>
                                    <h6 class="col-4">7k</h6>
                                    <h6 class="col-4">36k</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Yesterday</h6>
                                    <h6 class="col-4">30k</h6>
                                    <h6 class="col-4">141k</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                            <p class="card-heading2">HT Meter (S/Sn-4)</p>
                            <div class="row text-center">
                                <div class="row">
                                    <p class="col-4 numbers">1365.50</p>
                                    <p class="col-4 numbers">1373.80</p>
                                    <p class="col-4 numbers">0.994</p>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">KW</h6>
                                    <h6 class="col-4">KVA</h6>
                                    <h6 class="col-4">PF</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4 blur-row ">&nbsp;</h6>
                                    <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                    <h6 class="col-4 blur-row ">Rs</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Today</h6>
                                    <h6 class="col-4">7k</h6>
                                    <h6 class="col-4">36k</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Yesterday</h6>
                                    <h6 class="col-4">30k</h6>
                                    <h6 class="col-4">141k</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                            <p class="card-heading2">LT Meter (COB)</p>
                            <div class="row text-center">
                                <div class="row">
                                    <p class="col-4 numbers">1365.50</p>
                                    <p class="col-4 numbers">1373.80</p>
                                    <p class="col-4 numbers">0.994</p>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">KW</h6>
                                    <h6 class="col-4">KVA</h6>
                                    <h6 class="col-4">PF</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4 blur-row ">&nbsp;</h6>
                                    <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                    <h6 class="col-4 blur-row ">Rs</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Today</h6>
                                    <h6 class="col-4">7k</h6>
                                    <h6 class="col-4">36k</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Yesterday</h6>
                                    <h6 class="col-4">30k</h6>
                                    <h6 class="col-4">141k</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 incard">
                            <p class="card-heading2">LT HILTOP INCOMER</p>
                            <div class="row text-center">
                                <div class="row">
                                    <p class="col-4 numbers">1365.50</p>
                                    <p class="col-4 numbers">1373.80</p>
                                    <p class="col-4 numbers">0.994</p>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">KW</h6>
                                    <h6 class="col-4">KVA</h6>
                                    <h6 class="col-4">PF</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4 blur-row ">&nbsp;</h6>
                                    <h6 class="col-4 blur-row ">Unit(KWH)</h6>
                                    <h6 class="col-4 blur-row ">Rs</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Today</h6>
                                    <h6 class="col-4">7k</h6>
                                    <h6 class="col-4">36k</h6>
                                </div>
                                <div class="row">
                                    <h6 class="col-4">Yesterday</h6>
                                    <h6 class="col-4">30k</h6>
                                    <h6 class="col-4">141k</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="text-center">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style"class="mx-auto mt-2 mb-2">
                        <mat-button-toggle value="bold">Analytics</mat-button-toggle>
                        <mat-button-toggle (click)="openSummary()">Summary</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-2">
                <div class="card chart">
                    <p class="card-heading text-center">Max vs Actual Demand</p>
                    <div id="chartContainer" class="demandChart"></div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 col-md-12 mt-2">
                <div class="card chart">
                    <p class="card-heading text-center">Consumption Overview</p>
                    <div id="pieContainer" class="pieChart"></div>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="height: 40px" class="mx-auto">
                        <mat-button-toggle class="button" value="bold">Yesterday</mat-button-toggle>
                        <mat-button-toggle class="button" value="italic">This Week</mat-button-toggle>
                        <mat-button-toggle class="button" value="underline">Last Week</mat-button-toggle>
                        <mat-button-toggle class="button" value="bold">This Month</mat-button-toggle>
                        <mat-button-toggle class="button" value="italic">Last Month</mat-button-toggle>
                        <mat-button-toggle class="button" value="underline">Holiday</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
    </div>
</div>