<div class="content">
    <div class="container-fluid">
        <div class="row mt-1">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card pb-2 allCard firstcard">
                    <div class="card-heading2-container mt-1 mb-1">
                        <p class="card-heading2">Main PCC</p>
                        <button style="margin-right: 3px;" color="primary" mat-mini-fab (click)="openFilterDailog()">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row text-center">
                        <div class="row mt-2">
                            <h4 class="col-4 mt-3">KVAH :</h4>
                            <p class="col-4 numbers">1373.80</p>
                            <p class="col-4 numbers">0.994</p>
                        </div>
                        <div class="row">
                            <h6 class="col-4 blur-row ">&nbsp;</h6>
                            <h6 class="col-4 blur-row ">Value</h6>
                            <h6 class="col-4 blur-row ">Rs</h6>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 col-6 incard">
                                <h5>KWH :&nbsp;</h5>
                                <p class="numbers">1373.80</p>
                            </div>
                            <div class="col-md-4 col-6 incard">
                                <h5>KVARH :&nbsp;</h5>
                                <div>
                                    <p class="numbers">1373.80</p>
                                    <h6 class="col-12 blur-row">(Leg)</h6>
                                </div>
                            </div>
                            <div class="col-md-4 col-6 incard">
                                <h5>KVARH :&nbsp;</h5>
                                <div>
                                    <p class="numbers">1373.80</p>
                                    <h6 class="col-12 blur-row">(Lag)</h6>
                                </div>
                            </div>

                            <div class="col-md-4 col-6 incard">
                                <h5>PF :&nbsp;</h5>
                                <p class="numbers">1373.80</p>
                            </div>
                            <div class="col-md-4 col-6 incard">
                                <h5>KVA :&nbsp;</h5>
                                <div>
                                    <p class="numbers">1373.80</p>
                                    <h6 class="col-12 blur-row">(MD)</h6>
                                </div>
                            </div>
                            <div class="col-md-4 col-6 incard">
                                <h5>KW :&nbsp;</h5>
                                <div>
                                    <p class="numbers">1373.80</p>
                                    <h6 class="col-12 blur-row">(MD)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 mt-1">
                            <div class="col-12 incard">
                                <h3>CO2 emission :&nbsp;</h3>
                                <p class="co2">1373.80</p>
                            </div>
                            <button mat-raised-button style="width: 100px;" class="mx-auto" color="primary" (click)="openSummary()">Summary</button>
                        </div>                        
                    </div>
                    <mat-divider></mat-divider>
                    <h5 class="card-heading3 text-center mt-2" style="padding-bottom: -20px;">Consumption Overview</h5>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <div id="KVAguage"></div>
                            <h5 class="card-heading text-center">KVA</h5>
                        </div>
                        <div class="col-6 col-md-4">
                            <div id="KWguage"></div>
                            <h5 class="card-heading text-center">KW</h5>
                        </div>
                        <div class="col-6 col-md-4">
                            <div id="KVRguage"></div>
                            <h5 class="card-heading text-center">KVR</h5>
                        </div>
                        <div class="col-6 col-md-4">
                            <div id="PFguage"></div>
                            <h5 class="card-heading text-center">PF</h5>
                        </div>
                        <div class="col-6 col-md-4">
                            <div id="Currentguage"></div>
                            <h5 class="card-heading text-center">Current</h5>
                        </div>
                        <div class="col-6 col-md-4 ">
                            <div id="Voltageguage"></div>
                            <h5 class="card-heading text-center">Voltage</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="card allCard">
                            <h5 class="card-heading3 text-center mt-2">Consumption Overview</h5>
                            <div id="PieChart"></div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card allCard">
                            <h5 class="card-heading3 text-center mt-2">Consumption Overview</h5>
                            <div id="BarChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>