/*---------Kaushal------*/
.user-title{
    color: rgb(78, 78, 255);
    font-size: 20px;
    font-weight: 550;
}
.overview-cards{
    background-color: transparent;
    border: 2px solid #673ab7;
}

.Overview-energy-title{
    font-size: 1.2rem;
    font-weight: 550;
    display: flex; /* Use Flexbox to align items */
    align-items: center; /* Align items vertically */
}

.icon {
    margin-right: 5px; /* Add some margin between the icon and the title */
}

.Overview-energy-card-title{
    font-size: 1.2rem;
    font-weight: 550;
}

.Overview-energy-card-value{
    font-size: 1.8rem;
    font-weight: 550;
}

.Overview-energy-card-value .unit {
    font-size: 0.7rem; /* Adjust the font size as needed */
}


/*---------------------*/
.card-heading2{
    
    padding-top: 2px;
    margin-left: 12px;
    font-size: 20px;
    margin-bottom: 2px;
}

.card-heading{
    color: rgb(78, 78, 255);
    font-size: 17px;
}

.card-heading3{
    color: rgb(78, 78, 255);
    font-size: 23px;
}

.card-heading4{
    color: rgb(78, 78, 255);
    margin-left: 12px;
    font-size: 23px;
}

.filter_button{
    margin-right: 3px;
}

.numbers{
    padding-bottom: -1px;
    font-size: 30px;
}

.co2{
    font-size: 40px;
    color: red;
    margin-top: 3px;
}

.blur-row{
    padding-bottom: 12px;
    margin-top: -20px;
    font-size: small;
}

.incard{
    display: flex;
    margin-top: -5px;
    align-items: center;
    justify-content: center;
}

.button{
    font-size: 12px; 
    margin-top: -5px;
}

#BarChart {
    height: 406px;   
}

#PieChart{
    height: 333px;
}

.allCard{
    margin-left: -0.6vh;
    margin-right: -0.6vh;
}

@media (max-height:450px) {
  #PieChart, #BarChart {
    height: 60vh;
  } 
}

@media (max-width:998px) {
    .firstcard{
        margin-bottom: 1vh;
    }
    .allCard{
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .row {
        --bs-gutter-x: unset;
    }
}

@media (max-width:800px) {
    .numbers{
        font-size: 22px;
    }

    h5{
        font-size: 10px;
    }
}

@media (min-width: 998px) and (max-width:1520px) {
    .numbers{
        font-size: 25px;
    }

    h5{
        font-size: 10px;
    }
}

#KVAguage,
#KWguage,
#KVRguage,
#PFguage,
#Currentguage,
#Voltageguage {
    height: 185px; /* Set default width */
}

.card-heading2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-up, .arrow-down {
    font-size: 30px;
}





